body {
    margin: 0;
    padding: 0;
    font-family: $font;
    background: $white;
    // position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button.search-submit {
    background: transparent;
    font-size: 16px;
    color: $white;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        color: $blue;
    }
}

// Social Menu Styling
.social-menu a[href^="https://github.com/olimarie21"]:before {
    @include socialMenu;
    content: "\f09b";
    // Icon from font-awesome
}

.social-menu a[href^="https://www.linkedin.com/in/olivia-underdah-5378a667/"]:before {
    @include socialMenu;
    content: "\f0e1";
    // Icon from font-awesome
}

.screen-reader-text {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}