.category .content-area {
    .site-main {

        .category-title:nth-of-type(1) {
            padding: 8px 36px 8px 36px;
        }

        article {
            display: flex;
            flex-direction: column;
            background: $white;
            color: $black;

            h3 {
                a {
                    color: $purple;
                    text-transform: uppercase;
                }
            } 
                
            .post-title-single {
                display: none;
            }
    
            h3.post-title {
                order: 2;
                margin: 12px 36px 0 36px;
                letter-spacing: 2px;
                color: $black;
            }
            
            .entry-thumbnail a img {
                clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 93%);
            }
            .entry-content {
                order: 3;
                padding-left: 36px;

                .project-tags {
                    margin: 4px 0 16px 0;
                    color: $purple;

                    a {
                        color: $black;
                        font-weight: 400;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}

// ************************************************************************************************************************ //
// Tablet View ************************************************************************************************************ //
// ************************************************************************************************************************ //

@media screen and (min-width: 800px) {
    .category {
        display: grid;
        grid-template-columns: 350px auto;

        .content-area {
            margin-top: 72px;        
            width: 100%;
            grid-column: 2 / 3;

            .site-main {
                display: grid;
                grid-template-columns: 100%;
                
                .category-title:nth-of-type(1) {
                    display: block;
                    margin: 0;
                    grid-column: 1 / -1;
                    text-align: right;
                    color: $black;
                    margin-bottom: 36px;
                    padding: 8px 36px 8px 36px;
                }

                
                article {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 12px;

                    h3 a {
                        color: $purple;
                        padding-left: 0px;
                    }
            
                    h3.post-title {
                        order: 2;
                        margin: 12px 36px 0 36px;
                        letter-spacing: 2px;
                    }
                    
                    .entry-content {
                        order: 3;
                        padding-left: 36px;

                        .project-tags {
                            margin: 4px 0 16px 0;

                            a {
                                font-weight: 400;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
                
            }
        }
    }

}

.category {
    .category-title {
        display: none;
    }
    
    .category-title:nth-of-type(1) {
        display: block;
        margin: 0;
        text-align: right;
        color: $black;
        padding-bottom: 12px;
        padding-right: 36px;

        span {
            color: $purple;
        }
    }
}

// ************************************************************************************************************************ //
// Desktop View *********************************************************************************************************** //
// ************************************************************************************************************************ //

@media screen and (min-width: 1100px) {
    .category .content-area .site-main {
        grid-template-columns: 1fr 1fr;

        article {
            clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
            margin-bottom: 72px;
            background: $dark-grey;
            color: $white;
            margin-bottom: 72px;

            .entry-content .project-tags a {
                color: $white;
            }

            
            .entry-thumbnail a img {
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
            }
        }

        article:nth-of-type(2n) {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 11% 100%);
            
            h3.post-title {
                margin-left: 0;
                padding-left: 90px;
            }

            h3 a {
                color: $purple;
            }

            .entry-content {
                padding-left: 90px;
            }
        }

        article:nth-of-type(3n) {
            clip-path: polygon(0 0, 100% 0, 89% 100%, 0 100%);
        }

        article:nth-of-type(4n) {
            clip-path: polygon(11% 0, 100% 0, 100% 100%, 0 100%);
        }

        
    }
    .content-area .site-main article:nth-of-type(2) h3 a {
        padding-left: 0;
    }
}