// **********************************//
// *********Color Variables**********//
// **********************************//

$black: #101010;
$dark-grey: #1f1f1f;
$white: #f8f4f1;

$purple: #8b80f9;
$blue: #5cc1bc;


// **********************************//
// **********Font Variables**********//
// **********************************//

$font:'Outfit', sans-serif;

$h1: 900 32px $font;
$h2: 700 24px $font;
$h3: 700 20px $font;
$h4: 500 16px $font;


$body: 400 15px/1.2 $font;

h1 {
    font: $h1;
}

h2 {
    font: $h2;
    color: $purple;
    text-transform: uppercase;
}

h3 {
    font: $h3;
    letter-spacing: 1px;
}

h4 {
    font: $h4;
    letter-spacing: 1px;
}

body {
    font: $body;
}